@keyframes yippee {
  0% {
    background-image: linear-gradient(
      magenta,
      blueviolet,
      cyan,
      blueviolet,
      magenta
    );
    background-size: 64px 4000px;
    background-position-y: 0px;
  }
  25% {
    background-image: linear-gradient(
      magenta,
      blueviolet,
      cyan,
      blueviolet,
      magenta
    );
    background-size: 64px 4000px;
    background-position-y: 1000px;
  }
  50% {
    background-image: linear-gradient(
      magenta,
      blueviolet,
      cyan,
      blueviolet,
      magenta
    );
    background-size: 64px 4000px;
    background-position-y: 2000px;
  }
  75% {
    background-image: linear-gradient(
      magenta,
      blueviolet,
      cyan,
      blueviolet,
      magenta
    );
    background-size: 64px 4000px;
    background-position-y: 3000px;
  }
  100% {
    background-image: linear-gradient(
      magenta,
      blueviolet,
      cyan,
      blueviolet,
      magenta
    );
    background-size: 64px 4000px;
    background-position-y: 4000px;
  }
}
@keyframes access {
  from {
    background-image: url("./spaaaaccee.png");
    background-image-repeat: repeat;
    background-size: 64px 64px;
  }
  to {
    background-image: url("./spaaaaccee.png");
    background-image-repeat: repeat;
    background-size: 64px 64px;
  }
}
body {
  background-image: linear-gradient(navy, blue, navy);
}
p {
  font-weight: bold;
}
.normal {
  animation-name: yippee;
  animation-iteration-count: infinite;
  animation-duration: 15s;
}
.accessib {
  animation-name: access;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.flex-item-left {
  flex: 50%;
  padding: 5px;
  max-width: 635px;
}

.flex-item-right {
  flex: 50%;
  padding: 5px;
  max-width: 635px;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
.yesgif{
  visibility: shown;
}
.nogif {
  visibility: hidden;
}
a{
  color: navy;
}
a:visited{
  color:purple;
}
a:hover{
  color:blue;
}
