@keyframes yippee {
  0% {
    background-image: linear-gradient(
      magenta,
      blueviolet,
      cyan,
      blueviolet,
      magenta
    );
    background-size: 64px 4000px;
    background-position-y: 0px;
  }
  25% {
    background-image: linear-gradient(
      magenta,
      blueviolet,
      cyan,
      blueviolet,
      magenta
    );
    background-size: 64px 4000px;
    background-position-y: 1000px;
  }
  50% {
    background-image: linear-gradient(
      magenta,
      blueviolet,
      cyan,
      blueviolet,
      magenta
    );
    background-size: 64px 4000px;
    background-position-y: 2000px;
  }
  75% {
    background-image: linear-gradient(
      magenta,
      blueviolet,
      cyan,
      blueviolet,
      magenta
    );
    background-size: 64px 4000px;
    background-position-y: 3000px;
  }
  100% {
    background-image: linear-gradient(
      magenta,
      blueviolet,
      cyan,
      blueviolet,
      magenta
    );
    background-size: 64px 4000px;
    background-position-y: 4000px;
  }
}
@keyframes access {
  from {
    background-image: url("./spaaaaccee.png");
    background-image-repeat: repeat;
    background-size: 64px 64px;
  }
  to {
    background-image: url("./spaaaaccee.png");
    background-image-repeat: repeat;
    background-size: 64px 64px;
  }
}
body {
  background-image: linear-gradient(navy, blue, navy);
}
p {
  font-weight: bold;
}
.normal {
  animation-name: yippee;
  animation-iteration-count: infinite;
  animation-duration: 15s;
}
.accessib {
  animation-name: access;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.flex-item-left {
  flex: 50%;
  padding: 5px;
  max-width: 955px;
}

.flex-item-right {
  flex: 50%;
  padding: 5px;
  max-width: 315px;
}
.clusterer {
  display: flex;
  padding: 5px;
  flex-direction: row;
  max-width: 955px;
}
div#blember.window {
  max-width: 325px;
}
div#miros.window {
  max-width: 400px;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column-reverse;
  }
  .flex-item-right {
    max-width: 645px;
  }
  .flex-item-left {
    max-width: 645px;
  }
  .clusterer {
    max-width: 645px;
    flex-direction: column;
    align-items: center;
  }
  div#blember.window {
    max-width: 645px;
  }
  div#miros.window {
    max-width: 640px;
  }
}
.yesgif {
  visibility: shown;
}
.nogif {
  visibility: hidden;
}
a {
  color: navy;
}
a:visited {
  color: purple;
}
a:hover {
  color: blue;
}
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: -1;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
}
.scanoff{
  
}
.scanoff::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  animation-play-state:paused;
}
.scanoff::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  opacity: 0;
  z-index: -1;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
